<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[emoji_85]</string>
	<string>[emoji_86]</string>
	<string>[emoji_87]</string>
	<string>[emoji_88]</string>
	<string>[emoji_340]</string>
	<string>[emoji_341]</string>
	<string>[emoji_342]</string>
	<string>[emoji_343]</string>
	<string>[emoji_344]</string>
	<string>[emoji_345]</string>
	<string>[emoji_346]</string>
	<string>[emoji_347]</string>
	<string>[emoji_348]</string>
	<string>[emoji_349]</string>
	<string>[emoji_350]</string>
	<string>[emoji_351]</string>
	<string>[emoji_352]</string>
	<string>[emoji_353]</string>
	<string>[emoji_354]</string>
	<string>[emoji_355]</string>
	<string>[emoji_356]</string>
	<string>[emoji_357]</string>
	<string>[emoji_358]</string>
	<string>[emoji_359]</string>
	<string>[emoji_360]</string>
	<string>[emoji_361]</string>
	<string>[emoji_362]</string>
	<string>[emoji_363]</string>
	<string>[emoji_94]</string>
	<string>[emoji_95]</string>
	<string>[emoji_96]</string>
	<string>[emoji_97]</string>
	<string>[emoji_98]</string>
	<string>[emoji_99]</string>
	<string>[emoji_100]</string>
	<string>[emoji_101]</string>
	<string>[emoji_115]</string>
	<string>[emoji_116]</string>
	<string>[emoji_117]</string>
	<string>[emoji_368]</string>
	<string>[emoji_369]</string>
	<string>[emoji_370]</string>
	<string>[emoji_371]</string>
	<string>[emoji_372]</string>
	<string>[emoji_373]</string>
	<string>[emoji_12]</string>
	<string>[emoji_13]</string>
	<string>[emoji_14]</string>
	<string>[emoji_15]</string>
	<string>[emoji_16]</string>
	<string>[emoji_17]</string>
	<string>[emoji_225]</string>
	<string>[emoji_226]</string>
	<string>[emoji_227]</string>
	<string>[emoji_228]</string>
	<string>[emoji_33]</string>
	<string>[emoji_34]</string>
	<string>[emoji_73]</string>
	<string>[emoji_75]</string>
	<string>[emoji_150]</string>
	<string>[emoji_309]</string>
	<string>[emoji_72]</string>
	<string>[emoji_74]</string>
	<string>[emoji_113]</string>
	<string>[emoji_267]</string>
	<string>[emoji_410]</string>
	<string>[emoji_287]</string>
	<string>[emoji_282]</string>
	<string>[emoji_49]</string>
	<string>[emoji_68]</string>
	<string>[emoji_337]</string>
	<string>[emoji_334]</string>
	<string>[emoji_274]</string>
	<string>[emoji_26]</string>
	<string>[emoji_107]</string>
	<string>[emoji_23]</string>
	<string>[emoji_279]</string>
	<string>[emoji_52]</string>
	<string>[emoji_0]</string>
	<string>[emoji_1]</string>
	<string>[emoji_2]</string>
	<string>[emoji_3]</string>
	<string>[emoji_4]</string>
	<string>[emoji_5]</string>
	<string>[emoji_6]</string>
	<string>[emoji_7]</string>
	<string>[emoji_8]</string>
	<string>[emoji_9]</string>
	<string>[emoji_10]</string>
</array>
</plist>
